/* Override boxicons font-display for better performance */
@font-face {
  font-family: 'boxicons';
  font-display: swap;
  src: url('/_nuxt/boxicons.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

